@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$fontFamily: 'Roboto', sans-serif;

$buttonColorBuy: #ff8251;
$buttonColorCount: #ea1d2c;
$buttonColorCount: #ff8251;

$description: #717171;

$priceProduct: #3e3e3e;

$arrowCarousel: #ff00001b;
$arrowCarouselHover: #ff000069;

$pagination: #ff000069;