
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


$fontFamily: 'Inter', sans-serif;

$buttonColorBuy: #DB8E80;
$buttonColorCount: #DB8E80;

$description: #717171;

$priceProduct: #3e3e3e;

$arrowCarousel: #db8e8052;
$arrowCarouselHover: #DB8E80;

$pagination: #DB8E80;
$paginationBorder: #DB8E80;

$buttonClose: #DB8E80;

$headerBg: #DB8E80;
