.wrapper-button-product{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: white; ///////////////////////////////////// MUDAR VARIAVEL
    padding: 10px 0;
    border-top: 1px solid rgba(49, 49, 49, 0.251); ///////////////////////////////////// MUDAR VARIAVEL
    .count-product{
        display: flex;
        margin-right: 10px;
        button{
            color: $buttonColorCount;
            padding: 10px;
            border: none;
            outline: none;
            &:nth-child(2){
                color: black; ///////////////////////////////////// MUDAR VARIAVEL
            }
            &:nth-child(1), &:nth-child(3){
                font-size: 1.2em;
            } 
            &:nth-child(1){
                border-radius: 10px 0 0 10px;
            }
            &:nth-child(3){
                border-radius: 0 10px 10px 0;
            }
        }
    }
    .add-cart{
        display: flex;
        justify-content: space-between;
        align-items: center;                
        width: 70%;
        padding: 15px 0;
        border: none;
        border-radius: 5px;
        background-color: $buttonColorBuy;
        font-weight: 600;
        .text-area{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            svg{
                margin-right: 5px;
                width: 18px;
                height: 18px;
            }
        }
        p{
            margin-right: 10px;
        }
    }
}