@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@import '../variables.scss';

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: white; ///////////////////////////////////// MUDAR VARIAVEL
    padding: 10px 0;
    border-top: 1px solid rgba(49, 49, 49, 0.251);
    a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;
        font-family: $fontFamily;
        color: black; ///////////////////////////////////// MUDAR VARIAVEL
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.8em;
        span{
            font-size: 2em;
        }
        &:nth-child(3){
            span{
                font-size: 2.2em;
            }
        }
    }
}